body {
font-family: halvetica, sans-serif;
background: #23242a;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.dropdown {
min-width: 15em;
position: relative;
margin: 2em;
}
.dropdown * {
box-sizing: border-box;
}
.select {
background: #2a2f3b;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
border: 2px #2a2f3b solid;
border-radius: 0.5em;
padding: 1em;
cursor: pointer;
transition: background 0.35s;

}
.select-clicked {

}